<h1>Sem dados a apresentar (consulte Suporte TI em caso de dúvidas) <%= error %></h1>
<!-- <h1><%= message %></h1> -->
<h2><b><%= error.message %></b></h2>
<!-- <pre><%= error.stack %></pre> -->
<script>
    setInterval(() => window.location.reload(), 15000);
</script>